/*Mye av CSS koden har jeg hentet fra W3 schools*/
body{
    background-color: pink;
}
table{
    width: 100%;
    border-collapse:collapse;
}
th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th{
    background-color: #f2f2f2;
}
button{
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    vertical-align: bottom;
}
.open-button{
    background-color: #555;
    color:white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}
.form-popup{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid black;
    z-index: 9;
}
.form-container{
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
.form-container input[type="text"]{
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid black;
    box-sizing: border-box;
}
.form-container input[type="text"]:focus{
    background-color: #ddd;
    outline: none;
}
.form-container .submit{
    background-color: green;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}
.form-container .cancel{
    background-color: red;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}
.form-container .btn:hover, .open-button:hover{
    opacity: 1;
}
h3{
    text-align: center;
}
.edit-popup{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    background-color: white;
    padding: 20px;
    border: 3px solid black;
    z-index: 9;
    width: 300px;
}
.edit-container{
    width: 100%;
}
.edit-container input[type="text"]{
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.edit-container input[type="text"]:focus{
    background-color: #ddd;
    outline: none;
}
.edit-container .submitEdit{
    background-color: green;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}
.edit-container .cancelEdit{
    background-color: red;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}
.edit-container .btn:hover, .open-button:hover{
    opacity: 1;
}